<%= render 'shared/nav' %>

<br>

<table class="table table-striped table-bordered">
  <thead><th>#</th><th>motorcycle name</th></thead>
  <tbody>
    <% @motorcycles.each_with_index do |s, i| %>
      <tr>
        <td> <%= i + 1 %> </td>
        <td> <%= s.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

